
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/home">Fase 2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/grafica">Grafica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tabla">Tabla</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tablapos">Tabla posiciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ingresoDatos">Cargar datos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Cerrar sesion</a>
        </li>
      </ul>
      <span class="navbar-text">
        Proyecto fase 2 Bases de datos 2 G14
      </span>
    </div>
  </nav>