<app-navigation-bar></app-navigation-bar>
<!--<p>tabla-puestos works!</p>-->
<div class="flex">
    <div class="flex-item">
    <div class="flex-item">
      <table class="table table-responsive table-condensed">
        <tr>
          <th>mes</th>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
          <td>{{d.label}}</td>
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
    </div>
  </div>
